<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gruppe 3</title>

	<!-- Head.ejs -->
	<%- include("../partials/head"); %>

	<style>

		body {
			margin: 0px;
		}

		#background {

			display: inline-block;
			background: url("https://www.prastaav.org/wp-content/uploads/2020/08/Black-gif-background-3-GIF-Images-Download-1.gif");
			background-repeat: no-repeat;
			background-size: cover;
			width: 100vw;
			height: 100vh;
			color: white;


		}

	</style>
</head>
<body>
	
	<div id="background">

		<span style="display: inline-flex; justify-content: center; width: 100%; height: 100%;">

			<span style="align-self: center; font-size: 2.5rem; font-weight: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
				Velkommen til Gruppe3.lan! 
			</span>

		</span>

	</div>

</body>
</html>